/* CSS Document */
#main_window
{
display:block;
z-index:10;
width:100%;
height:550px;
border:solid 1px #666666;
overflow:hidden;

}
#side_menu
{
display:block;
z-index:10;
width:100%;
height:500px;
border:solid 1px #666666;
}
#quick_links
{
display:none;
z-index:1000;
width:130px;
height:760px;
border:solid 1px #666666;
}
#search_bar
{
display:none;
z-index:10;
overflow:hidden;
height:auto;
border:solid 1px #666666;
}
#links_div
{
display:block;
z-index:100;
width:100%;

}
#ShowModulesDiv
{
display:block;
z-index:10;
width:100%;
height:100px;
border:solid 1px #666666;
}

#Submenu_div
{
display:none;
z-index:10000;
width:auto;
height:auto;
border:solid 1px #666666;
position:absolute;

}
#print_div
{
display:none;
z-index:2000;
width:auto;
height:auto;
border:solid 1px #666666;

}
#popup_div_1
{
display:none;
z-index:20002;
width:auto;
height:auto;
border:solid 1px #666666;
background-color:#F7F7F7;

}
#popup_div
{
display:none;
z-index:20001;
width:auto;
height:auto;
border:solid 1px #666666;
background-color:#F7F7F7;

}
#popup_div_2
{
display:none;
z-index:20003;
width:auto;
height:auto;
border:solid 1px #666666;
background-color:#F7F7F7;
}
#popup_div_x
{
display:none;
z-index:20004;
width:auto;
height:auto;
border:solid 1px #666666;
background-color:#F7F7F7;
}
#details_div
{
display:block;
z-index:200;
width:auto;
height:auto;
border:solid 1px #666666;

}
#bottom_div
{
display:block;
z-index:10;
width:100%;
height:20px;
border:solid 1px #666666;
background-color:#004F27;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#FFFFFF;

}

#overlay_div
{
background-color:#333333;
visibility:hidden;
position:absolute;
left:0px;
top:0px;
height:100%;
width:100%;
z-index:200;
-moz-opacity:0.9;
opacity:.90;
filter:alpha(opacity=90);

}
#alert_overlay
{
background-color:#333333;

position:absolute;
display:none;
left:0px;
top:0px;
height:100%;
width:100%;
z-index:2000;
-moz-opacity:0.8;
opacity:.80;
filter:alpha(opacity=80);

}

#login_div
{
z-index:300;
background-color:#FFFFFF;
display:none;
border:groove 2px #339900;
position:absolute;

}

#alert_div
{
z-index:200000;
display:none;
border:solid 1px #999999;
background-color:#FFFFFF;
position:absolute;

}
#PasswordChangeDiv
{
z-index:20000;
display:none;
border:solid 1px #999999;
background-color:#FFFFFF;
position:absolute;
}

#QuitWindowDiv
{
background-color:#FFFFFF;
z-index:20000;
display:none;
border:solid 2px #999999;
position:absolute;
left:45%;
top:45%;

}
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:9999999999999999999999;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:99999999999999999999999;
    overflow: auto;
}