
#header {
    height: 5.3em;
    margin: 0;
    background-color: #507AAA;
    color: #f8f8f8;
    padding: 4px 8px 0px 6px;
    position: relative;
}
#header a {color:#f8f8f8;}
header h1 { font-size: 42px; }
#header h1 a.ancestor { font-size: 80%; }
.contextual {
    float: right;
    white-space: nowrap;
    line-height: 1.4em;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 0.9em;
}

#top-menu {
    background: #2C4056;
    color: #fff;
    height: 1.8em;
    font-size: 1.0em;
    padding: 2px 2px 0px 6px;
    position: relative;
}


#top-menu ul {margin: 0;  padding: 0;}
#top-menu li {
    float:right;
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    white-space:nowrap;
}
#top-menu a {color: #fff; margin-right: 8px; font-weight: bold;}
#top-menu #loggedas { float: right; margin-right: 0.5em; color: #fff; }

#footer {
    clear: both;
    border-top: 1px solid #bbb;
    font-size: 0.9em;
    color: #aaa;
    padding: 5px;
    text-align: center;
    background: #fff;
}


/***** Links *****/
a, a:link, a:visited{ color: #2A5685; text-decoration: none; }
a:hover, a:active{ color: #c61a1a; text-decoration: underline;}
a img{ border: 0; }

a.issue.closed, a.issue.closed:link, a.issue.closed:visited { color: #999; text-decoration: line-through; }